* {
  box-sizing: border-box;
}

:root {
  /* values tier */
  --humanist-font-stack:
    Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro,
    sans-serif;
  --yellow-100: oklch(76% 17% 94);
  --blue-100: oklch(75% 8% 261);
  --blue-200: oklch(55% 10% 261);
  --blue-800: oklch(20% 10% 260);
  --blue-900: oklch(13% 10% 260);
  --font-size-100: 0.875rem;
  --font-size-200: 1.125rem;
  --font-size-800: 1.25rem;
  --font-size-900: 2rem;
  --size-100: 16px;
  --size-200: 24px;
  --size-300: 32px;
  --size-900: 1024px;

  /* semantic tier */
  --page-font: var(--humanist-font-stack);
  --page-font-size: var(--font-size-200);
  --text-primary: var(--yellow-100);
  --text-secondary: var(--blue-100);
  --text-muted: var(--blue-200);
  --bg-secondary: var(--blue-900);
  --bg-secondary-hover: var(--blue-800);
  --page-width: var(--size-900);
  --page-padding-inline: var(--size-100);
  --page-padding-block: var(--size-200);
  --gap-size: var(--size-100);
  --social-icon-size: var(--size-200);
  --page-name-font: var(--humanist-font-stack);
  --page-name-font-size: var(--font-size-800);
  --page-footer-font-size: var(--font-size-100);
  --item-padding-inline: var(--size-100);
  --item-padding-block: var(--size-100);
  --notes-gap-size: var(--size-300);
  --note-padding: var(--size-100);
  --note-shadow: 4px 4px 0px 0px oklch(40% 10% 260);
  --note-bg-opacity: 0.8;

  scrollbar-width: thin;
  scrollbar-color: rgb(255 255 255 / 0.25) transparent;
  scrollbar-gutter: stable;
}

body {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  margin: 0;
  min-height: 100dvh;

  font-family: var(--page-font);
  font-size: var(--page-font-size);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

a {
  color: inherit;
  text-underline-offset: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.page-header {
  justify-self: center;
  width: 100%;
  max-width: var(--page-width);
  padding-inline: var(--page-padding-inline);
  padding-block: var(--page-padding-block);

  display: flex;
  gap: var(--gap-size);
  justify-content: space-between;
  align-items: center;
}

.page-name {
  margin: 0;
  color: var(--text-primary);
  font-family: var(--page-name-font);
  font-size: var(--page-name-font-size);

  a {
    text-decoration: none;
  }
}

.page-socials {
  display: flex;
  align-items: center;
  gap: var(--gap-size);
  color: var(--text-primary);

  svg {
    width: var(--social-icon-size);
    height: var(--social-icon-size);
  }
}

.page-footer {
  padding-inline: var(--page-padding-inline);
  padding-block: var(--page-padding-block);
  font-size: var(--page-footer-font-size);
  color: var(--text-muted);
  text-align: center;
}

.page-main {
  justify-self: center;
  width: 100%;
  max-width: var(--page-width);
  padding-block: var(--page-padding-block);
}

.page-title {
  margin: 0;
  padding-inline: var(--page-padding-inline);
  margin-block-end: var(--page-padding-block);
}

.page-intro {
  margin: 0;
  padding-inline: var(--page-padding-inline);
  margin-block-end: var(--page-padding-block);
  color: var(--text-primary);
}

.item {
  display: block;
  text-decoration: none;
  padding-inline: var(--item-padding-inline);
  padding-block: var(--item-padding-block);
  transition: all 150ms;

  &:hover {
    background-color: var(--bg-secondary-hover);
  }
}

.item-title {
  margin: 0;
}

.notes-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--notes-gap-size);
  padding-inline: var(--item-padding-inline);
  align-items: start;
}

@media (min-width: 768px) {
  .notes-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

.note {
  position: relative;
  padding: var(--note-padding);
  box-shadow: var(--note-shadow);
  background-color: var(--_base-color);
  color: var(--bg-secondary);
  /* clip paper filters */
  overflow: clip;

  &:nth-child(4n + 1) {
    transform: rotate(-0.75deg);
  }
  &:nth-child(4n + 2) {
    transform: rotate(0.3deg);
  }
  &:nth-child(4n + 3) {
    transform: rotate(-0.3deg);
  }
  &:nth-child(4n + 4) {
    transform: rotate(0.75deg);
  }

  /* note paper background */
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    opacity: var(--note-bg-opacity);
  }
  &:nth-child(4n + 1)::before {
    filter: url(#paper-pale);
  }
  &:nth-child(4n + 2)::before {
    filter: url(#paper-blue);
  }
  &:nth-child(4n + 3)::before {
    filter: url(#paper-rose);
  }
  &:nth-child(4n + 4)::before {
    filter: url(#paper-amber);
  }
  &:nth-child(4n + 5)::before {
    filter: url(#paper-teal);
  }

  img {
    width: 100%;
    height: auto;
    /* collapse margins with further paragraphs */
    display: block;
    margin-block-end: 1em;
  }
}

.span-1,
.span-2,
.span-3,
.span-4,
.span-5,
.span-6 {
  grid-column: span 1;
}

@media (min-width: 768px) {
  .span-1 {
    grid-column: span 1;
  }
  .span-2 {
    grid-column: span 2;
  }
  .span-3 {
    grid-column: span 3;
  }
  .span-4 {
    grid-column: span 4;
  }
  .span-5 {
    grid-column: span 5;
  }
  .span-6 {
    grid-column: span 6;
  }
}
